:root {
    --color-primary: #937294;
    --color-secund: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #493949;
    --color-dark-variant: #677483;
    --color-white: #f6f6f9; 
    --color-background1: #beb8be;
    --color-shadow: #beb8be;
}
